# Dependencies
node_modules/

# Build
dist/
**/dist/

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# DEV-HTTPS
certs/*.pem
certs/openssl.cnf